version: 1.0.{build}

branches:
  only:
    - master

os: Visual Studio 2015

install:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64

build_script:
  - msbuild ccfltr.sln
  #- msbuild ccfltr-console.sln p:/Platform="Any CPU"
